name = "SomaticEvolution"
uuid = "7b855ee6-6887-412f-a571-26d20a5a92d7"
authors = ["Jessie Renton <jsr.renton@gmail.com> and contributors"]
version = "0.2.1"

[deps]
AbstractTrees = "1520ce14-60c1-5f80-bbc7-55ef81b5835c"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
GLM = "38e38edf-8417-5370-95a0-9cbb8c7f171a"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
MakieCore = "20f20a25-4f0e-4fdf-b5d1-57303727442b"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
AbstractTrees = "0.4"
CSV = "0.10"
DataFrames = "1"
Distributions = "0.24, 0.25"
GLM = "1"
JSON = "0.21"
Revise = "3"
StatsBase = "0.33, 0.34"
julia = "1.6, 1.7, 1.8, 1.9"
